{include file='index/include/header'}

<style> body{    background: white;}.hui-button-large{width: 94%;}.hui-center-title h1{line-height: 24px;} .hui-header + .hui-wrap {padding-top: 60px;}.hui-header {  background: none; } .hui-form-items-title{color: #000;  font-size: 14px;}.hui-input{color: #000; } #hui-back:before{  color: #3388FF; }  #hui-back{  width: 67px; }  #hui-back span{ color: #3388FF;  font-size: 18px; }</style>

<header class="hui-header">

    <div id="hui-back" class="return-login">&nbsp;<span>返回</span></div>

</header>

<div class="hui-wrap">

    <div class="hui-center-title reg" ><h1 style="border:0px;">设置密码</h1></div>

    <form style="padding:15px 10px;" class="hui-form" id="form1" onclick="return false;" action="##">

        <div class="hui-form-items">

            <div class="hui-form-items-title">真实姓名</div>

            <input type="text" class="hui-input hui-input-clear" name="user_name" value="" checkType="string" checkData="2,10" checkMsg="用户名应为2-10个字符" />

        </div>

        <div class="hui-form-items">

            <div class="hui-form-items-title">密码</div>

            <input type="password" name="password" class="hui-input hui-pwd-eye"  checkType="string" id="pwd" checkData="6,20" checkMsg="密码应包含数字和字母" />

        </div>

        <div class="hui-form-items">

            <div class="hui-form-items-title">确认密码</div>

            <input type="password" name="repassword" class="hui-input hui-pwd-eye"  checkType="string" id="repwd" />

        </div>

        <div class="hui-form-items">

            <div class="hui-form-items-title">所属公司</div>

            <div class="hui-form-select">

                <select name="compid" checktype="notSame" checkdata="0" checkmsg="请选择公司">

                    <option value="0" style="color:#a3a3a3;">-选择公司-</option>

                    {volist name="company" id="vo" empty="暂时没有数据" }

                    <option value="{$vo.id}">{$vo.comname}</option>

                    {/volist}

                </select>

            </div>

        </div>

        <div style="padding: 14px 0px;margin-top: 11%;" id="btnList2">

            <input type="hidden" name="request_url" value="{:url('/sign/register', ['do' => 'basic'])}">
            <input type="hidden" name="user_tel" value="{$user_tel}">

            <button type="button" class="hui-button hui-button-large hui-primary hui-fr" id="submitBtn" style="margin-right: 19px;">提&nbsp;交</button>

        </div>

    </form>

</div>

{include file='index/include/footer'}

<script type="text/javascript">

    hui.formInit();

    var loves;

</script>
