{include file='include/static_css'}
<form class="layui-form layui-form-pane"  onsubmit="return false" action="##">

    <div class="layui-form-item">
        <label class="layui-form-label">公司简介</label>
    </div>

    <div class="layui-form-item">
            <!-- 加载编辑器的容器 -->
            <textarea id="editor" type="text/plain" style="width:100%;height:500px;">{if !empty($user_find.intro)}{$user_find.intro}{/if}</textarea>
            <!--<div class="layui-form-mid layui-word-aux">提示：普通管理员将无权限操作个别模块</div>-->
    </div>

    {if !empty($user_find.id)}
    <input type="hidden"  name="hidId" value="{$user_find.id}">
    {/if}
    <div class="layui-form-item layui-btn-lg">
        <input type="hidden"  name="request_url" value="{:url('index/admin', ['do' => 'account_setting'])}">
        <button class="layui-btn layui-btn-fluid admin{$do}"><i class="layui-icon layui-icon-edit"></i>提交</button>
    </div>
</form>
{include file='include/static_js'}



