{include file='include/static_css'}
<style>
    .layui-tab{margin:0; }
    .layui-tab-title li{width: 35% ;}
    .bu{
        position: fixed;
        bottom: 4px;
        right: 30px;
    }
    .layui-timeline{float: right;}
    .layui-anim.layui-icon{ font-size: 20px;}

    .st p{ background: #2d8cf0; width: 50px;  line-height: 49px; color: white;  height: 50px;  border-radius: 50%; text-align: -webkit-center;}
</style>

<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">①基础设置</li>
        <li>②流程设计</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <form class="layui-form layui-form-pane"  onsubmit="return false;" action="##">

            <div class="layui-form-item">

                <label class="layui-form-label">插件名称</label>

                <div class="layui-input-inline">

                    <input type="text" name="name" value="<?php if(!empty($row)){echo $row['name'];}?>" placeholder="请输入插件名称" autocomplete="off" class="layui-input">

                </div>

            </div>

            <div class="layui-form-item">

                <label class="layui-form-label">排序</label>

                <div class="layui-input-inline">

                    <input type="number" name="sort"  lay-verify="required"  value="<?php if(!empty($row)){echo $row['sort'];}?>" min="1" placeholder="" autocomplete="off" class="layui-input">

                </div>

            </div>



            <div class="layui-form-item">

                <label class="layui-form-label">选择图标：</label>

                <div class="layui-input-block">

                    <a href="javascript:;">

                        <div class="zh-upload-btn uploads"><i class="layui-icon layui-icon-picture"></i></div>

                        <img class="layui-upload-img" id="upload-normal-img" {if !empty($row.icon)} src="{$row.icon}"{/if}>

                    </a>

                </div>

            </div>

            <!--背景色-->
            <div class="layui-form-item">

                <label class="layui-form-label">背景色</label>

                <div class="layui-input-block">
                    <input type="text" name="bgcolor" autocomplete="on" value="<?php if(!empty($row)){echo $row['bgcolor'];}?>" class="layui-input">
                </div>

            </div>


            <div class="layui-form-item">

                <label class="layui-form-label">文字图标</label>

                <div class="layui-input-block">
                    <input type="text" name="icon_code" autocomplete="on" value="<?php if(!empty($row)){echo $row['icon_code'];}?>" class="layui-input">
                </div>

            </div>

            <div class="layui-form-item">

                <label class="layui-form-label">url</label>

                <div class="layui-input-block">

                    <input type="text" name="url" autocomplete="off" value="<?php if(!empty($row)){echo $row['url'];}?>" placeholder="请输入url" class="layui-input">

                </div>

            </div>

            <div class="layui-form-item">

                <label class="layui-form-label">所属分类:</label>

                <div class="layui-input-block">

                    <select name="pid"  lay-verify="required">

                        <option name="pid" value="0">顶级</option>

                        {if !empty($general)}
                        {volist name="general" id="vo" }
                        <option name="id"  value="{$vo.pid}" {if !empty($row.id)} {if $vo.id == $row.id}selected{/if}{/if}>{if !empty($vo.html)}{$vo.html}{/if}{$vo.name}</option>
                        {/volist}
                        {/if}

                    </select>

                </div>

            </div>

            {if !empty($row.id)}

            <input type="hidden"  name="hidId" value="{$row.id}">

            {/if}
        </form>
        </div>
        <div class="layui-tab-item" style="margin-top: 40px;margin-left: 45px;">

            <ul class="layui-timeline" style="width: 16%;position: fixed;">
                <h3 class="layui-timeline-title" style="    margin-left: 33px;">发起人</h3>
                <i class="layui-icon layui-icon-down" style="margin-left: 43px;"></i>
                <li class="layui-timeline-item">
                    <div class="layui-timeline-content layui-text st">
                        <p> 所有人 </p>
                    </div>
                </li>

                <i class="layui-icon layui-icon-down" style="margin-left: 43px;"></i>

                <h3 class="layui-timeline-title" style="margin-left: 16px;">中间审批人</h3>

                <!--for-->
                <li class="layui-timeline-item"><div class="layui-timeline-content layui-text st"><p>童正和</p><i class="setdel-u">x</i></div></li>
                <i class="layui-icon layui-icon-down" style="margin-left: 43px;"></i>
                <!--for-END-->
                <h3 class="layui-timeline-title" style="margin-left: 16px;">最终审批人</h3>
                <li class="layui-timeline-item">
                    <div class="layui-timeline-content layui-text st">
                        <p>童正和</p>
                    </div>
                </li>
            </ul>

            <!--设置审批人-->
            <div class="layui-timeline" style="width: 78%;">
                <div class="site-title" style="width: 95%;   margin: auto;">
                    <div style="text-align: left; font-size: 17px;"><a name="use" style="color: #2d8cf0;">设置审批人</a></div>
                </div>
            <form class="layui-form layui-form-pane"  onsubmit="return false;" action="##">

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="1" title="指定成员">
                        <input type="radio" name="sex" value="2" title="发起人自选" checked>
                    </div>
                </div>

                <!--成员列表-->
                <style>
                    .layui-collapse{border-style: unset;margin-bottom: 69px;}
                    .layui-colla-content{border-top-style: unset;}
                    .layui-collapse span{float: left;margin: 10px;text-align: -webkit-center;font-size: 14px; padding: unset;line-height: 28px;  background: #f1f3f5;  width: 8%; height: 27px;}
                    .layui-colla-title {width: 18%; background-color: unset; font-size: 16px;font-weight: 400;}
                    .layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea{    border-top-style:unset;}
                </style>

                <div class="layui-collapse">
                    {if !empty($department_mem)}
                    {foreach name="department_mem" item="vo" key="k" }
                    <div class="layui-colla-item" style="height: 100px;">
                        <h2 class="layui-colla-title">{$vo.name}</h2>
                        {if !empty($vo.mem)}
                        {foreach name="vo.mem" item="vc" }
                        <span class="layui-colla-content layui-show select-user"><a href="javascript:;"> {$vc.user_name}</a></span>
                        {/foreach}
                        {/if}
                    </div>
                    {/foreach}
                    {/if}
                  </div>
                <script>
                    //注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
                    layui.use('element', function(){  var element = layui.element; });
                </script>
            </form>
            <!--设置审批人-END-->
            </div>
        </div>

        <div class="layui-form-item layui-btn-lg bu">
            <input type="hidden"  name="request_url" value="{:url('index/general', ['do' => 'add'])}">
            <button class="layui-btn layui-btn-fluid general{$do}"><i class="layui-icon layui-icon-edit"></i>保存</button>
        </div>
    </div>
</div>

{include file='include/static_js'}

<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>




