{include file='include/static_css'}



<style>
    .site-content {
        width: 100%;
        min-height: 900px;
        padding: 20px 0 10px 20px;
    }

    .site-tree, .site-content {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;
        font-size: 14px;
    }

    .site-text {
        margin: 30px;
        margin-left: auto;
    }

    .site-text div {
        width: 88%;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
    }

    .site-h3{
        color:red;}
    .site-text p{
        width: 10%;
        float: left;
        margin-right: 13px;
    }
    .site-text p span{
        font-weight: bolder;
        float: right;
    }
    .annex-info{
        margin: 9px;
        margin-left: unset;
    }
  .rate_of_progress, .app-userinfo, .app-basic{
        background: #bbdafa30;
        width: 100%;
        border-bottom: 1px solid #e4e4e4;
      margin-top: 20px;
    }
    .site-h2{
        color: red;
        width: 18%;
        text-align: left;
    }
    .site-text a {color: #d8d8d8;}
    .layui-timeline{padding-left:46px;margin-top: 30px;}
</style>
<div class="layui-main site-inline">
<div class="site-content">
    <h1 class="site-h1">审批编号：2019122323564532354</h1>
    <blockquote class="layui-elem-quote">
        将时间抽象到二维平面，垂直呈现一段从过去到现在的故事。
    </blockquote>

    <div class="app-basic">
        <h3 class="site-h3">审批基本内容</h3>

        <dl>
            <dd class="site-text">
                <p><span>审批类型：</span><div>{$tysp.appro_title}</div></p>
            </dd>
        </dl>
    <dl>
        <dd class="site-text">
            <p><span>创建时间：</span><div>{$tysp.create_time}</div></p>
        </dd>
    </dl>

    <dl>
        <dd class="site-text">
            <p><span>内容：</span><div>{$tysp.content}</div></p>
        </dd>
    </dl>

    <dl>
        <dd class="site-text">
            <p><span>详情：</span><div>{$tysp.detail}</div></p>
        </dd>
    </dl>

    <dl>
        <dd class="site-text">
            <p><span>图片：</span>
            {if !empty($tysp.images)}
            <div>
            {volist name="tysp.images" id="vo"}
           <img src="{$vo}" width="63px"/>
            {/volist}
            </div>
            {else}
            null
            {/if}
            </p>
        </dd>
    </dl>

    <dl>
        <dd class="site-text">
            <p><span>附件：</span>
            {if !empty($tysp.annex)}
            <div>
            {volist name="tysp.annex" id="vo"}
            <div class="annex-info"><span>名称：</span><a href="{$vo.file}"><span style="color: #2d8cf0;">{$vo.filename} </span>点击预览 </a></div>
            {/volist}
            </div>
            {else}
            null
            {/if}
            </p>
        </dd>
    </dl>
    </div>

    <div class="app-userinfo">
        <h3 class="site-h3">发起人信息</h3>
        <dl>
            <dd class="site-text">
                <p><span>姓名：</span><div>{$tysp.send_user_name}（{$tysp.send_department_name}）</div></p>
                <p><span>联系方式：</span><div>{$tysp.user_tel}</div></p>
            </dd>
        </dl>

    </div>

    <div class="rate_of_progress">
        <h3 class="site-h3">审批进度</h3>
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">8月18日</h3>
                    <p>
                        {$vo.send_user_name}(发起人)
                    </p>
                </div>
            </li>
           {if !empty($tysp.approval_user_name)}
            {volist name="tysp.approval_user_name" id="vo"}
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">8月18日</h3>
                    <p>
                        {$vo.user_name}
                    </p>
                </div>
            </li>
            {/volist}
            {/if}
        </ul>
    </div>

</div>
</div>


{include file='include/static_js'}