{include file='include/static_css'}
<style>
    .layui-tab{margin:0; }
    .layui-tab-title li{width: 35% ;}
    .bu{
        position: fixed;
        bottom: 4px;
        right: 30px;
    }
    .layui-timeline{float: right;}
    .layui-anim.layui-icon{ font-size: 20px;}
    .layui-timeline-item:before, hr {    background-color: unset;}
    .layui-timeline-item {padding: 0;}
    .st p{ background: #2d8cf0; width: 50px;  line-height: 49px; color: white;  height: 50px;  border-radius: 50%; text-align: -webkit-center;}
    .layui-timeline-content {padding:5px;}
    .appro-list{display: none;}
</style>

<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item" style="margin-top: 40px;margin-left: 45px;">
            <ul class="layui-timeline appro-list" style="width: 16%;position: fixed;text-align: -webkit-center;{if !empty($row) && $row.custom_type==1}display: block;{/if}">
                <h3 class="layui-timeline-title">发起人</h3>
                <i class="layui-icon layui-icon-down"></i>
                <li class="layui-timeline-item">
                    <div class="layui-timeline-content layui-text st">
                        <p> 所有人 </p>
                    </div>
                    <i class="layui-icon layui-icon-down"></i>
                </li>
                <h3 class="layui-timeline-title">中间审批人</h3>

                <div class="users-demo-list">
                    <!--for-->
                    {if !empty($row.settinged_appro_member)}
                    {volist name="row.settinged_appro_member" id="vo" }
                    <li class="layui-timeline-item users-demo">
                        <div class="layui-timeline-content layui-text st">
                            <p data-id="{$vo.id}">{$vo.user_name}</p>
                            <i class="layui-icon layui-icon-close-fill setdel-u"></i>
                        </div>
                        <i class="layui-icon layui-icon-down"></i>
                    </li>
                    {/volist}
                    {/if}
                    <!--for-END-->
                </div>
            </ul>
            <!--设置审批人-->
            <div class="layui-timeline" style="width: 78%;">
                <div class="site-title" style="width: 95%;   margin: auto;">
                    <div style="text-align: left; font-size: 17px;"><a name="use" style="color: #2d8cf0;">设置审批人</a></div>
                </div>
                <form class="layui-form layui-form-pane"  onsubmit="return false;" action="##">
                    <!--成员列表-->
                    <style>
                        .layui-collapse{border-style: unset;margin-bottom: 69px; display: none;}
                        .layui-colla-content{border-top-style: unset;}
                        .layui-collapse span{float: left;margin: 10px;text-align: -webkit-center;font-size: 14px;padding: unset;line-height: 28px;width: 7%;}
                        .layui-colla-title {width: 18%; background-color: unset; font-size: 16px;font-weight: 400;}
                        .layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea{    border-top-style:unset;}
                    </style>
                </form>
            </div>
            <script>
                //注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
                layui.use('element', function(){  var element = layui.element; });
            </script>
            <!--设置审批人-END-->
        </div>
    </div>

    <div class="layui-form-item layui-btn-lg bu">
        <input type="hidden"  name="request_url" value="{:url('index/general', ['do' => 'add'])}">
        <button class="layui-btn layui-btn-fluid general{$do}"><i class="layui-icon layui-icon-edit"></i>保存</button>
    </div>
</div>

{include file='include/static_js'}

<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
    });
</script>




