{include file='index/include/header'}
<style>
    .hui-content p {
        text-indent: unset;
    }
</style>
<header class="hui-header" style=" background: #ffffff;">
    <div id="hui-back"  style=" width: 126px; ">&nbsp;<span>返回</span><span>关闭</span></div>
    <div id="hui-back2"  ><span>About US</span></div>
</header>
<div class="hui-wrap">
    <div class="hui-center-title" style="margin-top:15px;"><h1 style="    width: 80%;"><img style="width: 13%;
    margin-right: 11px;
    margin-bottom: 10px;" src="{$company_info.icon}"><span>{$company_info.comname}</span></h1></div>
    <div class="hui-content" style="padding:18px 8px;" id="content">
        {$company_info.intro}
    </div>
</div>
{include file='index/include/footer'}