{include file='index/include/header'}
<div class="hui-wrap">
    <div class="hui-common-title" style="margin-top:15px;">
        <div class="hui-common-title-txt">
            <img src="http://huamei.juhuiny.com/%E6%9C%AA%E6%A0%87%E9%A2%98-1.png" width="40" style="margin-right: 7px;">
            <span style="font-size: 19px;font-weight: bold;font-family: -webkit-body;">操作指南</span></div>
    </div>
    <style type="text/css">
        .bgGreen{background:#1BC5BB !important;}
        .bgRed{background:#EE4B47 !important;}
        .demo{width:100%; height:80px; text-align:center; color:#FFF; line-height:80px; font-size:22px; margin:5px; background:#3388FF;}
    </style>

    <style type="text/css">
        .demo1{width: 92%; height: 45px;color: #000000; line-height: 60px;font-size: 21px; font-weight: bold;text-align: left;}
    </style>
    <div class="hui-flex" style="flex-wrap:wrap;">
        <div class="demo1">1、进入后台</div>
    </div>
    <style type="text/css">
        .demo2{width:93%;margin:auto;}
        .hui-common-title-txt{width: 98%; font-size: 12px;font-weight: 600; text-align: left; margin: auto;}
    </style>
    <div>

        <div class="demo2">
            <div class="hui-common-title-txt">管理员前往generaladmin.juhuiny.com,点击进入{插件列表}</div>
            <img src="http://huamei.juhuiny.com/h1.png"  style="width:100%;"/>
        </div>

        <div class="hui-flex" style="flex-wrap:wrap;">
            <div class="demo1">2、设置默认审批人</div>
        </div>
           <div class="demo2">
            <div class="hui-common-title-txt">在流程设置中点击{指定成员}, 选择需要设置的审批成员</div>
            <img src="http://huamei.juhuiny.com/h2.png"  style="width:100%;"/>
        </div>




    </div>
</div>

{include file='index/include/footer'}