{include file='index/include/header'}
<header class="hui-header" style=" background: #ffffff;">
    <div id="hui-back"  style=" width: 126px; ">&nbsp;<span>返回</span><span>关闭</span></div>
    <div id="hui-back2"  ><span>帮助使用</span></div>
</header>
<div class="hui-wrap">
    <style type="text/css">
        .demo2{height:80px; text-align:center; color:#FFF; line-height:80px; font-size:22px; margin:5px; background:#3388FF;}
    </style>
    <div class="hui-flex" style="flex-wrap:wrap;padding: 17px;">
        <div class="demo1"><i class="layui-icon layui-icon-triangle-r" style="    color: #f78f21;font-size: 20px;"></i><span style="    font-size: 17px; font-weight: 600;">操作指南</span></div>
    </div>
    <div>
        <div class="hui-flex" style="flex-wrap:wrap;padding: 17px;">
            <div class="demo1" style="font-weight: 600;">1、操作指南</div>
            <div class="demo1" style="position: fixed; top: 139px;left: 21px;" >fff</div>
        </div>
        <div class="demo2"></div>
        <div class="demo2 bgGreen">2</div>
        <div class="demo2 bgRed">3</div>
    </div>
</div>
{include file='index/include/footer'}