{include file='index/include/header'}
<style>

    body{    background: #f4f4f4;}

    .hui-center-title h1{line-height: 24px;}

    #hui-back:before{  color: #3388FF !important; }   #hui-back span{ color: #3388FF;  margin-right: 19px;    font-size: 18px;}

    #hui-back2{    margin-top: 9px;margin-left: 24px;}

    #hui-back2 span{     font-size: 18px;font-weight: 700;}

    .hui-list-text2{         margin-top: 12px;

        width: 88%;

        text-align: justify;

        line-height: 22px;

        overflow: hidden;

        text-overflow: ellipsis;

        display: flex;

        justify-content: space-between;

        margin-left: 15px;}
    .hui-list-text2 p{color: #9ea0a3;}

    .hui-list-text2 span{        font-size: 14px;  width: 79%;

    }

    .hui-list-text2 img{

        width: 44%;

        margin-top: 3px;
        float: left;

        margin-left: 1px;

       }

    .hui-list-text{      line-height: 77px;  border: none;  color:#3c3b3b;;  margin-left: 16px; font-size: 12px;}

    .title{    font-size: 16px;font-weight: 400;}

    .title-text{      background: #2196F3;
        color: white;
        font-size: 12px;
        border-radius: 50px;
        width: 50px;
        line-height: 50px;
        height: 50px;}


    .hui-list-info-user{width: 40%;line-height: 77px;}

    .hui-list-icons{
        height: 51px;
        width: 51px;
    }

    .hui-speed-dial-icons{

        text-align: -webkit-auto;

        height: 10px;

        z-index: 999999;

        margin-left: 24px;}

    .hui-list li > a, .hui-list > a,.hui-list li{
        height: unset!important;
    }

</style>



<header class="hui-header" style=" background: #ffffff;">

    <div id="hui-back"  style=" width: 126px; ">&nbsp;<span>返回</span><span>关闭</span></div>

    <div id="hui-back2"  ><span>我审批的</span></div>

</header>

<div class="hui-wrap">

    <div class="hui-list" style="width: 100%; height: 100%;">

        <a href="javascript:;" style=" height: 45px;     margin-bottom: 12px;   border-bottom: 1px solid #f1f1f9;">

            <div class="hui-list-icons" style=" margin: 7px 0;">

                <div class="title-text">

                  {$myapproinfo.send_user_info.send_user_name}

                </div>

            </div>

            <div class="hui-list-text title">{$myapproinfo.send_user_info.send_user_name}提交的{$myapproinfo.appro_title}</div>

            <div class="hui-list-text title" style="width: 53%;">

                {if $myapproinfo.approval_state == 3}

                <span style="    position: absolute;"><img src="http://huamei.juhuiny.com/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20190615115905.png" style="width: 74%;"></span>

                {elseif $myapproinfo.approval_state == 2}

                <span style="position: absolute; right: 11px; width: 32%;top: 50px;"><img src="http://huamei.juhuiny.com/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_201906151159051.png" style="width: 100%;"></span>

                {elseif $myapproinfo.approval_state == 5}

                <span style="    position: absolute;"><img src="http://huamei.juhuiny.com/chexciao.png" style="width: 74%;"></span>

                {else}

                <?php if (!empty($next_appro_user_name)):;?>

                <span style="font-size:13px;color:#f25643;">等待{$next_appro_user_name}审批</span>

                <?php Endif;?>

                {/if}

            </div>

        </a>

        <!--工资审批-->
        {if $other_app_info.appro_title == '工资审批'}

        <div class="hui-list-text2"><p> 审批编号</p> <span >{$other_app_info.appnum}</span></div>
        <div class="hui-list-text2"> <p> 所在部门</p><span>{$other_app_info.department_name}</span> </div>
        {if !empty($other_app_info.rows)}
        {foreach name="other_app_info.rows" item="v" key="k" }
        <div class="hui-title detailed-title">工资明细{$k+1}
            <span>{$v.title}</span>
            <i class="fa fa-arrows-h hide{$k+1}" aria-hidden="true" style="font-size: 18px;float: right; line-height: 0;color: #2196f3;"></i>
            <i class="fa fa-arrows hide{$k+1}" aria-hidden="true" style="font-size: 18px;float: right; line-height: 0;color: #2196f3;display: none;"></i>
        </div>
        <div class="detailed{$k+1}" style="width: 90%; margin: auto; margin-bottom: 38px;">
        <div class="hui-list-text2"><p> 标题</p> <span>{$v.title}</span></div>
        <div class="hui-list-text2"><p>类型</p> <span>{$v.type_name}</span></div>
        <div class="hui-list-text2"><p>金额</p> <span>{$v.salary_money}</span></div>
        <div class="hui-list-text2"><p>明细</p> <span>{$v.intro}</span></div>
            {if !empty($v.image)}
        <div class="hui-list-text2"><p>图片</p> <span>
            {foreach name="v.image" item="vim"}
            <img src="{$vim}"  onclick="preview(this)"/>
            {/foreach}
            </span>
        </div>
            {/if}
        <div class="hui-list-text2"><p>附件</p>
            <div class="nopic-demo">
                {if !empty($v.annex)}
                {foreach name="v.annex" item="van" k="key"}
                <p style="color: #2196F3;">{$van.filename}<a href="{$van.file}">预览</a></p>
                {/foreach}
                {/if}
            </div>
        </div>
        </div>
        {/foreach}
        {/if}

        <div class="hui-list-text2"><p> 总金额</p> <span style="color: #f25643;">{if !empty($other_app_info.salary_money_total)}{$other_app_info.salary_money_total}{/if}</span></div>

        <!--工资审批-End-->
        {else if($other_app_info.appro.title == '通用审批')}

            <div class="hui-list-text2"><p> 审批编号</p> <span >{$myapproinfo.appnum}</span></div>

            <div class="hui-list-text2"> <p> 所在部门</p><span>{$myapproinfo.send_user_info.department_name}</span> </div>

            <div class="hui-list-text2">
                <p> 审批内容</p><span>{$myapproinfo.content}</span></div>


            <div class="hui-list-text2">

                <p>审批详情</p><span>{$myapproinfo.detail}</span>

            </div>

        <!--图片-->
        <?php if(!empty($myapproinfo['images'])):;?>
            <div class="hui-list-text2" style=" margin-bottom: 18px; ">
                <p>图片</p>
                <div class="img-demo" style="width: 271px;">
                {volist name="myapproinfo.images" id="vo"}
                    <img src="{$vo}" class="imgs">
                {/volist}
                </div>
            </div>
        <?php Endif;?>
        {/if}
    </div>

    <!--审批流程-->
    <div class="hui-list list">

        <ul style="width: 95%;  margin: auto;">
            <!--发起人-->
            <li>
                <a href="javascript:void(0);">
                    <div class="hui-list-icons">
                        <div class="title-text">
                            <?php echo $myapproinfo['send_user_info']['send_user_name'];?>
                        </div>
                    </div>
                    <div class="hui-list-text">
                        {$myapproinfo.send_user_info.send_user_name}发起申请
                        <div class="hui-list-info" style="margin-right: 8px;">
                            {$myapproinfo.create_time}
                        </div>
                    </div>
                </a>
            </li>
            <div class="hui-speed-dial-icons">
                <span class="jt"></span>
            </div>
            <!--End - 发起人-->

            {if !empty($all_pro_user)}

            {volist name="all_pro_user" id="vo"}

            <li>

                <a href="javascript:void(0);">

                    <div class="hui-list-icons">

                        <div class="title-text">

                            <?php echo $vo['user_name'];?></div>

                    </div>

                    <div class="hui-list-text" style="width: 35%;">

                        <div class="hui-list-info">

                            {$vo.user_name}

                        </div>

                    </div>

                    <div class="hui-list-info-user">

                        <span style="color:{$vo.color}"> {$vo.state_msg} </span>

                    </div>

                    <!--同意时间-->

                    <div class="hui-list-info-user" style="    width: 100%;position: absolute; left: 80%;">

                        <?php if(!empty($vo['agree_reason']) && $vo['pro_state'] == 2):;?>

                        <span style="color:#d8d8d8;"> <?php echo timeTran($vo['agree_reason']['pro_time']);?> </span>

                        <!--拒绝时间-->

                        <?php elseif(!empty($vo['reject_reason']) && $vo['pro_state'] == 3):;?>

                        <span style="color:#d8d8d8;"> <?php echo timeTran($vo['reject_reason']['pro_time']);?> </span>

                        <?php Endif;?>

                    </div>



                    <div class="hui-list-text">

                        <span style="    color: #c7c7c7;font-size: 12px;">

                            {if !in_array($vo.pro_state, [2, 3])}

                            {if $vo.pro_state == 4 && $vo.appro_sort == 1 || $vo.pro_state == 1}

                           <span>已等待{$vo.agree_reason.pro_time}</span>

                            {/if}

                            {/if}
                        </span>

                    </div>

                </a>

            </li>



            <div class="jt">

                <?php if(!empty($vo['agree_reason']) && $vo['pro_state'] == 2):;?>
                <div class="msg">
                    <p style="float: left;width: 12%; color: #999;">留言</p>
                <div style="font-size: 14px;   width: 83%;"><?php echo $vo['agree_reason']['agree_reason'];?></div>
                </div>
                <?php if(!empty($vo['agree_reason']['img_file'])):;?>

                <div class="msg-img" style="    margin-top: 25px;">
                    <p  style="float: left;width: 12%; color: #999;">图片</p>
                <img src="{$vo['agree_reason']['img_file']}" class="imgs" width="50px" style="float: left;margin-left: 29px;">
                </div>
                <?php Endif;?>

                <div class="msg-annex">
                    <p  style="float: left;width: 12%; color: #999;">附件</p>
                <?php if(!empty($vo['agree_reason']['annex'])):;?>
                    <span style="font-size: 12px;">
                        <a href="{$vo.agree_reason.annex.file}" style="color: #2196F3;">{$vo.agree_reason.annex.filename}<i style="color: #9ea0a3; margin-left: 11px">预览</i></a>
                    </span>
                    <?php Endif;?>

                    <!--拒绝-->
                <?php elseif(!empty($vo['reject_reason']) && $vo['pro_state'] == 3):;?>

                <span style="font-size: 12px;float: left;  "><?php echo $vo['reject_reason']['reject_reason'];?></span>

                <?php if(!empty($vo['reject_reason']->img)):;?>

                <?php foreach($vo['reject_reason']->img as $img):;?>

                <img src="{$img}"  style="float: left;"  width="50px">

                <?php Endforeach;?>

                <?php Endif;?>

                <?php Endif;?>

            </div>
            </div>


            <!--最终审批通过-->
            {if $myapproinfo.approval_state == 2}
            <div class="hui-list-icons">
                <div class="title-text" style="background: #15bc83">
                    审批通过</div>
            </div>
            {/if}
            <!--审批通过-->

    {/volist}

    {/if}

    </ul>
    </div>

    <div class="hui-list-text2">

    </div>  <div class="hui-list-text2">

    </div>

</div>



<!--抄送人-->

<div class="hui-list list">

    {if !empty($myapproinfo.know_user)}

        <div class="hui-list-text" style="    width: 55%;">

            <span>抄送人</span> <span>审批通过后， 通知抄送人</span>

        </div>

    {volist name="myapproinfo.know_user" id="vo_u"}

    <div class="know-u" style="    width: 17%;">

        <div class="hui-list-icons" style=" margin: 7px 7px;">

            <div class="title-text"><?php echo $vo_u['user_name'];?></div>

        </div>

        <div class="hui-list-text2" style="margin-top: -11px;">

            <span style="  width: 100%;   font-size: 12px; color: #969696;"> {$vo_u.user_name}</span>

        </div>

    </div>

    {/volist}

    <div style=" height: 10px; margin-top: 33px;" class="hui-list-text2">

    </div>



    {/if}

</div>

<div style=" height: 20px; margin-top: 33px;" class="hui-list-text2">

</div>



<!--End 审批流程-->

    <div id="hui-footer">

        <?php if(in_array($current_appro['state'], [1,2, 4])):;?>



            {if !in_array($myapproinfo.approval_state, [2,3])}

            {if !in_array($this_id,$appro_uers)}

        <a href="javascript:;"  id="btn5">

                <div class="hui-footer-icons  hui-icons-loading2"></div>

                <div class="hui-footer-text current-tel" data-tel="{if !empty($current_appro.wait_user_tel)}{$current_appro.wait_user_tel}{/if}">催办</div>

        </a>

        {else}
        <div style="width: 27%; height: 37px;">
        <a href="{:url('/index/myapprolist')}">
            <div class="hui-icons hui-icons-menu" style="    text-align: -webkit-center;margin-bottom: 5px;"></div>
            <div class="hui-footer-text current-tel" data-tel="{if !empty($current_appro.wait_user_tel)}{$current_appro.wait_user_tel}{/if}">审批列表</div>
        </a>
            </div>
            {/if}

            {/if}

       <?php Endif;?>

        <div class="withdraw">
            {if $this_id == $myapproinfo.send_user_id}
            {if $myapproinfo.approval_state == 1}
        <a href="javascript:;" class="withdraw_request" data-url="/index/withdraw" data-item="{$other_app_info.appro_title}" data-id="{$myapproinfo.id}">
           <i class="fa fa-mail-reply-all" aria-hidden="true"></i><p style="color: #585858;">撤回</p>
        </a>
            {/if}
            {if $myapproinfo.approval_state == 5}
            <a href="javascript:;">
              <p style="color: #585858; margin-left: 32px; font-size: 18px;  font-weight: 500;">已撤销</p>
            </a>
            {/if}
            {/if}
        </div>

        <!--如果当前用户审-->
        <div style="width: 50%; text-align: -webkit-center;">
        {if $current_appro.state == 1 || ($current_appro.state == 4 && $current_appro.appro_sort == 1)}
        <div id="nav-forum-1" style="width: 76px; float: left;">
        <a href="{:url('/index/yj', ['approval_id' => $myapproinfo['id'], 'is_agree' => 'n'])}">
            <span style="color: #2196F3;">拒绝</span>
        </a>
        </div>

        <!--点击同意：获取当前这个人的-->
        <div id="nav-forum-2"  style="width: 100px; float: left;">
        <a href="{:url('/index/yj', ['approval_id' => $myapproinfo['id'], 'is_agree' => 'y'])}">

            <span style="color: #f8f8f8;">同意</span>

        </a>
        </div>

        {/if}
        </div>
    </div>

</div>

<style>

.hui-select{margin: 0 auto;}

.hui-select a:first-child{ border-bottom: 1px solid #ececec;}

.hui-select a{height: 34px;font-size: 12px;color: #8f9090;}

#hui-popover-msg{   position: fixed;  bottom: 1px!important;left: 15px!important;}

</style>

    <!--End 审批流程-->

{include file='index/include/img_unit'}

{include file='index/include/footer'}

<script>

    var tel = $(".current-tel").attr('data-tel');

    var menu = '<div class="hui-list hui-select" style="border:0;"><a onclick="window.location.href=\'tel://\'+tel;">电话催办</a><a>站内催办</a></div>';

    hui('#btn5').popoverMsg('left', 'up', menu, 100, 70);

</script>



<!--<script>-->

    <!--/* 示例 1 : 普通选择器 非关联型绑定 */-->

    <!--var picker1 = new huiPicker('#btn1', function() {-->

        <!--var val = picker1.getVal(0);-->

        <!--var txt = picker1.getText(0);-->

        <!--console.log(txt)-->

        <!--switch (val) {-->

            <!--case '1': //站内提醒 : 发起公众号醒醒-->

            <!--break;-->

            <!--case '2': //电话提醒-->

                <!--window.location.href='tel://13300300333';-->

            <!--break;-->

        <!--}-->

        <!--// hui('#btn1').html(txt + '[' + val + ']');-->

    <!--});-->

    <!--// 同级 picker 数量设置 默认 1-->

    <!--picker1.level    = 1;-->

    <!--//1. piker 数据-->

    <!--var pickerData   = [{value:1, text:'站内提醒'},{value:2, text:'电话提醒'}];-->

    <!--//2. 查询默认值 例如  {value:2, text:'女'} 的默认值为 2-->

    <!--//不设置默认值此步骤省略即可-->

    <!--var defaultValue  = 2;-->

    <!--var defaultIndex  = pickerData.pickerIndexOf(defaultValue);-->

    <!--//3 绑定数据时设置默认值 //不设置默认值 忽略第三个参数即可-->

    <!--picker1.bindData(0, pickerData, defaultIndex);-->

<!--</script>-->

<script type="text/javascript">

    var i = $(".detailed-title");
    i.click(function() {
        if ($(this).next().css("display") === 'block') {
            $(this).next().hide();
            $(this).children("i").find().hide();
            $(this).children("i").next().show();
        } else {
            $(this).next().show();
            $(this).children("i").find().show();
            $(this).children("i").next().hide();
        }
    });


</script>