{include file='index/include/header'}

<style>

    body{    background: #f4f4f4;}

    .hui-center-title h1{line-height: 24px;}

    #hui-back:before{  color: #3388FF !important; }   #hui-back span{ color: #3388FF;  margin-right: 19px;    font-size: 18px;}

    #hui-back2{    margin-top: 9px;margin-left: 24px;}

    #hui-back2 span{     font-size: 18px;font-weight: 700;}

    .hui-list-text2{         margin-top: 12px;

        width: 88%;

        text-align: justify;

        line-height: 22px;

        overflow: hidden;

        text-overflow: ellipsis;

        display: flex;

        justify-content: space-between;

        margin-left: 15px;}
    .hui-list-text2 p{color: #9ea0a3;}

    .hui-list-text2 span{        font-size: 14px;  width: 79%;

    }

    .hui-list-text2 img{

        width: 44%;

        margin-top: 3px;
        float: left;

        margin-left: 1px;

    }

    .hui-list-text{      line-height: 77px;  border: none;  color:#3c3b3b;;  margin-left: 16px; font-size: 12px;}

    .title{    font-size: 16px;font-weight: 400;}

    .title-text{      background: #2196F3;
        color: white;
        font-size: 12px;
        border-radius: 50px;
        width: 50px;
        line-height: 50px;
        height: 50px;}


    .hui-list-info-user{width: 40%;line-height: 77px;}

    .hui-list-icons{
        height: 51px;
        width: 51px;
    }

    .hui-speed-dial-icons{

        text-align: -webkit-auto;

        height: 10px;

        z-index: 999999;

        margin-left: 25px;}

    .hui-list li > a, .hui-list > a,.hui-list li{
        height: unset!important;
    }

</style>


<header class="hui-header" style=" background: #ffffff;">

    <div id="hui-back"  style=" width: 126px; ">&nbsp;<span>返回</span><span>关闭</span></div>

    <div id="hui-back2"  ><span>我发起的</span></div>

</header>

<div class="hui-wrap">

    <div class="hui-list">

        <a href="javascript:;" style=" height: 60px;     margin-bottom: 12px;   border-bottom: 1px solid #f1f1f1;">

            <div class="hui-list-icons" style=" margin: 7px 0;">

                <div class="title-text"><?php echo $approval_info['send_user_name'];?></div>

            </div>

            <div class="hui-list-text title">

                <span>{$approval_info.send_user_name}</span>

                {if $approval_info.approval_state == 3}

                <span style="position: absolute; top: 66px;color: #ababab; font-size: 12px;">审批被拒绝</span>

                {/if}

            </div>

            <div class="hui-list-text title">

                {if $approval_info.approval_state == 2}

                <span style="position: absolute;"><img src="http://huamei.juhuiny.com/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_201906151159051.png" style="width: 74%;"></span>

                {elseif($approval_info.approval_state == 3)}

                <span style="position: absolute;"><img src="http://huamei.juhuiny.com/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20190615115905.png" style="width: 74%;"></span>

                {/if}

            </div>

        </a>


        {if $approval_info.appro_title == '通用审批'}
            <div class="hui-list-text2">

                <p> 审批编号</p> <span>{$approval_info.appnum}</span>

            </div>

            <div class="hui-list-text2">

                <p> 所在部门</p><span>{$approval_info.department_name}</span>

            </div>



            <div class="hui-list-text2">

                <p> 审批内容</p><span>{$approval_info.content}</span>

            </div>

            <div class="hui-list-text2">

                <p>审批详情</p><span>{$approval_info.detail}</span>

            </div>

        <div class="hui-list-text2" style=" margin-bottom: 18px; ">

            <p>图片</p>

            <div class="img-demo" style="   width: 271px;">

                <?php if($approval_info['images']):;?>

                {volist name="approval_info.images" id="vo"}

                <img src="{$vo}" class="imgs">

                {/volist}

                <?php Endif;?>

            </div>

        </div>

        <div class="hui-list-text2" style=" margin-bottom: 18px; ">

            <p>附件</p>

            <div class="img-demo" style="   width: 271px;">

                {if !empty($approval_info.annex)}
                {volist name="approval_info.annex" id="ve"}
                <div class="nopic-demo">
                    <p style="color: #2196F3;">{$ve.filename}<a href="{$ve.file}">预览</a></p>
                </div>
                {/volist}
               {/if}

            </div>

        </div>
    </div>

    <!--工资审批-->
    {elseif $approval_info.appro_title == '工资审批'}

    <div class="hui-list-text2"><p> 审批编号</p> <span >{$other_app_info.appnum}</span></div>
    <div class="hui-list-text2"> <p> 所在部门</p><span>{$other_app_info.department_name}</span> </div>
    {if !empty($other_app_info.rows)}
    {foreach name="other_app_info.rows" item="v" key="k" }
    <div class="hui-title detailed-title">工资明细{$k+1}<span>{$v.title}</span>
        <i class="fa fa-arrows-h hide{$k+1}" aria-hidden="true" style="font-size: 18px;float: right; line-height: 0;color: #2196f3;"></i>
        <i class="fa fa-arrows hide{$k+1}" aria-hidden="true" style="font-size: 18px;float: right; line-height: 0;color: #2196f3;display: none;"></i>
    </div>
    <div class="detailed{$k+1}" style="width: 90%; margin: auto; margin-bottom: 38px;">
        <div class="hui-list-text2"><p> 标题</p> <span>{$v.title}</span></div>
        <div class="hui-list-text2"><p>类型</p> <span>{$v.type_name}</span></div>
        <div class="hui-list-text2"><p>金额</p> <span>{$v.salary_money}</span></div>
        <div class="hui-list-text2"><p>明细</p> <span>{$v.intro}</span></div>
        {if !empty($v.image)}
        <div class="hui-list-text2"><p>图片</p> <span>
            {foreach name="v.image" item="vim"}
            <img src="{$vim}"  onclick="preview(this)"/>
            {/foreach}
            </span>
        </div>
        {/if}
        <div class="hui-list-text2"><p>附件</p>
            <div class="nopic-demo">
                {if !empty($v.annex)}
                {foreach name="v.annex" item="van" k="key"}
                <p style="color: #2196F3;">{$van.filename}<a href="{$van.file}">预览</a></p>
                {/foreach}
                {/if}
            </div>
        </div>
    </div>
    {/foreach}
    {/if}
    <div class="hui-list-text2"><p> 总金额</p> <span style="color: #f25643;">{if !empty($other_app_info.salary_money_total)}{$other_app_info.salary_money_total}{/if}</span></div>
    <!--工资审批-End-->
    <!--报销-->
    {elseif($other_app_info.appro_title == '报销')}
    <div class="hui-list-text2"><p> 审批编号</p> <span >{$other_app_info.appnum}</span></div>
    <div class="hui-list-text2"> <p> 所在部门</p><span>{$other_app_info.department_name}</span> </div>
    {if !empty($other_app_info.rows)}
    {foreach name="other_app_info.rows" item="v" key="k" }
    <div class="hui-title detailed-title">报销明细{$k+1}
        <span>{$v.title}</span>
        <i class="fa fa-arrows-h hide{$k+1}" aria-hidden="true" style="font-size: 18px;float: right; line-height: 0;color: #2196f3;"></i>
        <i class="fa fa-arrows hide{$k+1}" aria-hidden="true" style="font-size: 18px;float: right; line-height: 0;color: #2196f3;display: none;"></i>
    </div>
    <div class="detailed{$k+1}" style="width: 90%; margin: auto; margin-bottom: 38px;">
        <div class="hui-list-text2"><p> 标题</p> <span>{$v.title}</span></div>
        <div class="hui-list-text2"><p>类型</p> <span>{$v.type_name}</span></div>
        <div class="hui-list-text2"><p>金额</p> <span>{$v.r_money}</span></div>
        <div class="hui-list-text2"><p>明细</p> <span>{$v.intro}</span></div>
        {if !empty($v.image)}
        <div class="hui-list-text2"><p>图片</p> <span>
            {foreach name="v.image" item="vim"}
            <img src="{$vim}"  onclick="preview(this);"/>
            {/foreach}
            </span>
        </div>
        {/if}
        <div class="hui-list-text2"><p>附件</p>
            <div class="nopic-demo">
                {if !empty($v.annex)}
                {foreach name="v.annex" item="van" k="key"}
                <p style="color: #2196F3;">{$van.filename}<a href="{$van.file}">预览</a></p>
                {/foreach}
                {/if}
            </div>
        </div>
    </div>
    {/foreach}
    {/if}
    <div class="hui-list-text2"><p> 总金额</p> <span style="color: #f25643;">{if !empty($other_app_info.rei_price_total)}{$other_app_info.rei_price_total}{/if}</span></div>
    <!--报销-End-->

    <!--申购-->
    {elseif($other_app_info.appro_title == '申购')}
    <div class="hui-list-text2"><p> 审批编号</p> <span >{$other_app_info.appnum}</span></div>
    <div class="hui-list-text2"> <p> 所在部门</p><span>{$other_app_info.department_name}</span> </div>
    {if !empty($other_app_info.rows)}
    {foreach name="other_app_info.rows" item="v" key="k" }
    <div class="hui-title detailed-title">申购明细{$k+1}
        <span>{$v.name}</span>
        <i class="fa fa-arrows-h hide{$k+1}" aria-hidden="true" style="font-size: 18px;float: right; line-height: 0;color: #2196f3;"></i>
        <i class="fa fa-arrows hide{$k+1}" aria-hidden="true" style="font-size: 18px;float: right; line-height: 0;color: #2196f3;display: none;"></i>
    </div>
    <div class="detailed{$k+1}" style="width: 90%; margin: auto; margin-bottom: 38px;">
        <div class="hui-list-text2"><p> 标题</p> <span>{$v.name}</span></div>
        <div class="hui-list-text2"><p>类型</p> <span>{$v.type_name}</span></div>
        <div class="hui-list-text2"><p>金额</p> <span>{$v.pro_price}</span></div>
        <div class="hui-list-text2"><p>明细</p> <span>{$v.intro}</span></div>
        {if !empty($v.image)}
        <div class="hui-list-text2"><p>图片</p> <span>
            {foreach name="v.image" item="vim"}
            <img src="{$vim}"  onclick="preview(this)"/>
            {/foreach}
            </span>
        </div>
        {/if}
        <div class="hui-list-text2"><p>附件</p>
            <div class="nopic-demo">
                {if !empty($v.annex)}
                {foreach name="v.annex" item="van" k="key"}
                <p style="color: #2196F3;">{$van.filename}<a href="{$van.file}">预览</a></p>
                {/foreach}
                {/if}
            </div>
        </div>
    </div>
    {/foreach}
    {/if}
    <div class="hui-list-text2"><p> 总金额</p> <span style="color: #f25643;">{if !empty($other_app_info.pro_price_total)}{$other_app_info.pro_price_total}{/if}</span></div>
    <!--申购-End-->



     {elseif $approval_info.appro_title == '报销'}

    报销

{/if}


    <!--审批流程-->

    <div class="hui-list" style="background:#FFFFFF; margin-top:28px;">

        <ul style="width: 95%;  margin: auto;">
            <!--发起人-->
            <li>
                <div class="hui-list-icons">

                    <div class="title-text">

                        <?php echo $approval_info['send_user_name'];?>
                    </div>

                </div>
                <div class="hui-list-text">

                    {$approval_info.send_user_name}发起申请

                    <div class="hui-list-info" style="margin-right: 8px;">

                        {$approval_info.create_time}

                    </div>

                </div>
            </li>

            <div class="hui-speed-dial-icons">
                <span class="jt"></span>
            </div>

            <!--End - 发起人-->

            {if !empty($approval_info.wait_user)}

            {volist name="approval_info.wait_user" id="vo"}

            <li>
                <div class="hui-list-icons">
                    <div class="title-text"><?php echo $vo['user_name'];?></div>
                </div>
                <div class="hui-list-text" style="width: 35%;">
                    <div class="hui-list-info">{$vo.user_name}</div>
                </div>
                <div class="hui-list-info-user">
                    <span style="color:{$vo.color}">{$vo.state_msg}</span>
                </div>
                <!--同意时间-->
                <div class="hui-list-info-user" style="width: 100%;position: absolute; left: 80%;">
                    <?php if(!empty($vo['agree_reason']) && $vo['state'] == 2):;?>
                    <span style="color: #999;margin-left: 23px;font-size: 13px;"> <?php echo timeTran($vo['agree_reason']['pro_time']);?> </span>
                    <!--拒绝时间-->
                    <?php elseif(!empty($vo['reject_reason']) && $vo['state'] == 3):;?>
                    <span style="color: #999;margin-left: 23px;font-size: 13px;"> <?php echo timeTran($vo['reject_reason']['pro_time']);?> </span>
                    <?php Endif;?>
                </div>
                <div class="hui-list-text">
            <span style="width: 89%;color: #c7c7c7;font-size: 12px;">
                {if !in_array($vo.state, [2, 3])}
                {if $vo.state == 4 && $vo.appro_sort == 1 || $vo.state == 1}
                <span>已等待</span> <span style="float: right;">{$vo.wait_time}</span>
                {/if}
                {/if}
            </span>
                </div>
            </li>
            <div class="hui-speed-dial-icons">
                <span class="jt"></span>
            </div>

            <!--同意-->
            <?php if(!empty($vo['agree_reason']) && $vo['state'] == 2):;?>
            <div class="jt">
                <div class="msg">
                    <p style="float: left;width: 12%; color: #999;">留言</p>
                    <div style="font-size: 14px;   width: 83%;"><?php echo $vo['agree_reason']['agree_reason'];?></div>
                </div>
                <?php if(!empty($vo['agree_reason']['img_file'])):;?>
                <div class="msg-img" style="    margin-top: 25px;">
                    <p  style="float: left;width: 12%; color: #999;">图片</p>
                    <img src="{$vo.agree_reason.img_file}" class="imgs" width="50px" style="float: left;margin-left: 29px;">
                </div>
                <?php Endif;?>
                <div class="msg-annex">
                    <p  style="float: left;width: 12%; color: #999;">附件</p>
                    <?php if(!empty($vo['agree_reason']['annex'])):;?>
                    <span style="font-size: 12px;">
                        <a href="{$vo.agree_reason.annex.file}" style="color: #2196F3;">{$vo.agree_reason.annex.filename}<i style="color: #9ea0a3; margin-left: 11px">预览</i></a>
                    </span>
                    <?php Endif;?>
                </div>
            </div>
            <?php Endif;?>

            <!--拒绝-->
            {if !empty($vo.reject_reason) && $vo.state == 3}
            <div class="jt">
                {if !empty($vo.reject_reason.reject_reason)}
                <div class="msg">
                    <p style="float: left;width: 25%; color: #999;">驳回原因</p>
                    <div style="font-size: 14px;   width: 83%;">{$vo.reject_reason.reject_reason}</div>
                </div>
                {/if}

                {if !empty($vo.reject_reason.img_file)}
                <div class="msg-img" style="    margin-top: 25px;">
                    <p  style="float: left;width: 12%; color: #999;">图片</p>
                    <img src="{$vo.reject_reason.img_file}" class="imgs" width="50px" style="float: left;margin-left: 29px;">
                </div>
                {/if}

                {if !empty($vo.reject_reason.annex)}
                <div class="msg-annex">
                    <p  style="float: left;width: 12%; color: #999;">附件</p>
                    {$vo.reject_reason.annex}
                    <span style="font-size: 12px;">
                        <a href="{$vo.reject_reason.annex.file}" style="color: #2196F3;">{$vo.reject_reason.annex.filename}<i style="color: #9ea0a3; margin-left: 11px">预览</i></a>
                    </span>
                </div>
                {/if}
            </div>
           {/if}

            {/volist}
            {/if}
            <!--最终审批通过-->
            {if $approval_info.approval_state == 2}
            <div class="hui-list-icons">
                <div class="title-text" style="background: #15bc83">
                    审批通过</div>
            </div>
            {/if}
            <!--审批通过-->
        </ul>

    <div style=" height: 10px; margin-top: 33px;" class="hui-list-text2">

    </div>

    </div>



<!--抄送人-->

<div class="hui-list list">

    {if !empty($approval_info.know_user)}

    <div class="hui-list-text" style="    width: 49%;">

        <span>抄送人</span> <span>审批通过后， 通知抄送人</span>

    </div>

    {volist name="approval_info.know_user" id="vo_u"}

    <div class="know-u" style="    width: 17%;">

        <div class="hui-list-icons" style=" margin: 7px 7px;">

            <div class="title-text"><?php echo $vo_u['user_name'];?></div>

        </div>

        <div class="hui-list-text2" style="margin-top: -11px;">

            <span style="width: 100%;margin-top: 10px;font-size: 12px; color: #969696;"> {$vo_u.user_name}</span>

        </div>

    </div>

    {/volist}

    <div style=" height: 10px; margin-top: 33px;" class="hui-list-text2">

    </div>

    <div style=" height: 10px; margin-top: 33px;" class="hui-list-text2">

    </div>

    {/if}

</div>

    <!--End 审批流程-->

</div>

{include file='index/include/img_unit'}

{include file='index/include/footer'}



<script>

    var picker1 = new huiPicker('#btn1', function() {

        var val = picker1.getVal(0);

        var txt = picker1.getText(0);

        console.log(txt)

        switch (val) {

            case '1': //站内提醒



                //发起公众号醒醒

            break;

            case '2': //电话提醒

                window.location.href='tel://13300300333';

            break;

        }

        // hui('#btn1').html(txt + '[' + val + ']');

    });

    // 同级 picker 数量设置 默认 1

    picker1.level    = 1;

    //1. piker 数据

    var pickerData   = [{value:1, text:'站内提醒'},{value:2, text:'电话提醒'}];

    //2. 查询默认值 例如  {value:2, text:'女'} 的默认值为 2

    //不设置默认值此步骤省略即可

    var defaultValue  = 2;

    var defaultIndex  = pickerData.pickerIndexOf(defaultValue);

    //3 绑定数据时设置默认值 //不设置默认值 忽略第三个参数即可

    picker1.bindData(0, pickerData, defaultIndex);

</script>

